@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  background-color: #2596be;
}

html {
  scroll-behavior: smooth;
}

footer,
.create {
  background-color: #081547;
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: fadeInDownBig;
  animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: animate__backInUp;
  animation-duration: 2s;
}

.grow img {
  transition: 1s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.alamat {
  color: #081547;
}

.navbar .navbar-nav .nav-link {
  color: #f8f8f8;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: #e4a11b;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #e4a11b;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.simbol {
  font-family: "Protest Strike", sans-serif;
}

.w-100-height {
  height: 95vh;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  text-align: left;
  margin-bottom: 150px;
  width: 50%;
  z-index: 2;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.icon {
  font-size: 40px;
  font-weight: 800;
  background: transparent;
  border: 1px solid #ffffff74;
  width: 80px;
  height: 80px;
  line-height: 1.8;
  border-radius: 50%;
}

.card-bottom {
  right: 0;
  margin-top: -178px;
  border-radius: 0;
}

.card-text {
  color: #aeaeae;
}

.card-color {
  background-color: #000;
}

.paragraph {
  text-align: justify;
}

.card-img-top {
  object-fit: cover;
  height: 190px;
}

.card {
  margin: auto;
  cursor: pointer;
}

#lokasi {
  width: 100%;
}

.patner {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.human {
  height: 350px;
  object-fit: cover;
}

.konsultasi {
  font-family: "Protest Strike", sans-serif;
  font-size: 45px;
  color: #081547;
}

#buttonVariasi {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadoww {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100%);
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1rem;
  color: #081547;
  background: white;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

#buttonVariasi:hover {
  filter: brightness(110%);
}

#buttonVariasi:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#buttonVariasi:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

#buttonVariasi:hover .shadoww {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#buttonVariasi:active .shadoww {
  transform: translateY(1px);
  transition: transform 34ms;
}

#buttonVariasi:focus:not(:focus-visible) {
  outline: none;
}

/* newsletter */
.rows {
  height: 100vh;
}

.form-control {
  display: block;
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.575rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 52px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cards {
  padding: 20px;
  background-color: #eee;
  padding-bottom: 20px;
  padding-top: 20px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f9a826;
  outline: 0;
  box-shadow: none;
}

.border-rad {
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;

  color: #fff;
  background-color: #f9a826;
  border-color: #f9a826;
}

.border-rad:hover {
  background-color: #ffff;
  border-color: #f9a826;
}

.border-rab {
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;

  color: #fff;
  background-color: #081547;
  border-color: #081547;
}

.border-rab:hover {
  background-color: #ffff;
  border-color: #081547;
}

.wafixed {
  position: fixed;
  right: 0px;
  bottom: 100px;
  z-index: 999;
  background-color: #081547;
  height: 100px;
  width: 150px;
  padding: 15px;
}
